<!--<form>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput #first>
      <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput #last>
      <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
    </mat-form-field>
    <button mat-raised-button [routerLink]="['/homepage']">Submit</button>
  </form>!-->

      
     
<form (submit)="loginUser($event)">
	<div class="input">
		<label>Username</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Password</label>
		<input type="password">
	</div>
	<div class="input">
		<input type="submit" value="Login">
  </div>
  <div *ngIf="showErrorMessage">
    <h1>Invalid username or password Please try again :(</h1>
  </div>
</form>