<body style="background-color: black;">
<header id="head">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="false">
      <!-- Navbar brand -->
      <mdb-navbar-brand><img (click)="func()" class="navbar-brand" id="logo" src="../../assets/images/logo.png"></mdb-navbar-brand>
      <!-- Collapsible content -->
      <links>
      <!-- Links -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink='/login' mdbWavesEffect>Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" routerLink='/registration' mdbWavesEffect>Register</a>
          </li>
          <li>
              <form (submit)="onSearch($event)" class="form-inline waves-light" mdbWavesEffect>
                  <div class="md-form my-0">
                      <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  </div>
              </form>
          </li>
      </ul>
      </links>
      <!-- Collapsible content -->
  </mdb-navbar>
</header>

<div class="row" id="x1">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <mdb-carousel [isControls]="false" [animation]="'slide'" [interval]="'1000'">
      <mdb-carousel-item *ngFor="let temp of images">
        <img id="imgS" src={{temp}}>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div id="in2">
      <div class="card m-3" id="in1">
        <h5 class="card-header">Login</h5>
        <form (submit)="loginUser($event)">
          <div class="card-body" >
            <div class="form-group ">
              <label>Email</label>
              <input type="text" class="form-control" />
            </div>
            <div class="form-group ">
              <label>Password</label>
              <input type="password" class="form-control" />
            </div>
            <div *ngIf="showErrorMessage" id="errorMessage">
              <p>Invalid Email or Password</p>
            </div>
            <div class="text-center">
              <button class="btn btn-primary mr-1" >Login</button>
              &nbsp;&nbsp;
              <a routerLink='/registration'>Create account?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>