#errorMessage {
	color: red;
	text-align: center;
	align-items: center;
}
#in1 {
    height: 50%;
	width: 100%;
}
#in2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}