#head {
    background-color:#263228;
}
#logo {
    height: 60px;
    width: 100px;
}
#id1 {
    height: 85%;
    width: 90%;
}
#id2 {
    height: 87%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: url(../../assets/images/bg9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 700px;
}