#x1 {
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
}
#x2 {
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.74);
    display: flex;
    align-items: center;
    justify-content: center;
}