.footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#foot {
    background-color: #263228;
}


@media screen and (max-width:580px) {
    #foot {
        padding: 20px 10px !important;
        width: 580px;
    }
}