#p1 {
    width: 42%;
    font-size: x-large;
}
#p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/images/profileBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85%;
}
#p3 {
    align-items: center;
}
.accountIcon {
    font-size: 100px;
    color: black;
}
#iconID {
    padding-left: 171px;
}