<header><app-header></app-header></header>
<div id="p2">
    <div class="card m-3" id="p1">
        <h2 class="card-header">Profile</h2>
        <div class="card-body" >
            <div class="row" id="iconID">
                <mat-icon class="accountIcon">account_circle</mat-icon>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="p3"><strong>First Name</strong></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="p4">:&nbsp;&nbsp;{{fn}}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="p3"><strong>Last Name</strong></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="p4">:&nbsp;&nbsp;{{ln}}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="p3"><strong>Email ID</strong></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="p4">:&nbsp;&nbsp;{{email}}</div>
            </div>
        </div>
    </div>
</div>
<footer><app-footer></app-footer></footer>