  .fixed{
    display: grid;
    grid-template-columns:repeat(4,minmax(10px,1fr));
    grid-template-rows: repeat(1,30vw);
    grid-gap:1rem 1rem;
    background-color: black;
  }
  .box{
      box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
  }

   .cs{
      height:300px;
      width: 300px;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 5px;
      border: 10px solid #ddd;
   }

   .container {
      text-align: center;
      padding: 10px 20px;
      color:rgb(255, 102, 0 );
    }
    a{
        color:rgb(255, 102, 0 );
        text-decoration: none;
    }
    #text {
      color: white;
      font-weight: 900;
      font-size:30px;
      padding-left: 15px;
    }