<div class="movie_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="poster">
                <img src={{info.Poster}}>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="details">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" id="title">
                        {{info.Title}}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="imdbrating">
                        <div id="i1">IMDb Rating</div>
                        <b><div id="i2">{{info.imdbRating}}/10</div></b>
                    </div>
                </div>
                <div class="row" id="i3">
                    {{info.Released}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{info.Runtime}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{info.Language}}
                </div>
                <div class="row" id="i4"><span style="color: gray;">Plot</span>&nbsp;&nbsp;&nbsp;{{info.Plot}}</div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="i5">Genre</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="i6">{{info.Genre}}</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="i5">Director</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="i6">{{info.Director}}</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="i5">Writer</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="i6">{{info.Writer}}</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="i5">Actors</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="i6">{{info.Actors}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="con">
                <marquee><h1><b>Need to display reviews and ratings</b></h1></marquee>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:20px">
                <div class="short-div3">
                    <b>Add to WishList</b>
                    <mat-icon class="material-icons i">add_circle</mat-icon>
                </div>
                <div class="short-div1">
                    <b>Give Rating</b>
                    <mat-icon class="material-icons i">add_circle</mat-icon>
                </div>
                <div class="short-div2">
                    <b>Write Review</b>
                    <mat-icon class="material-icons i">add_circle</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>