.movie_details {
    background-color: black;
}
.container {
    background-color: black;
    color: white;
}
#poster {
    padding: 50px;
}
#details {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 70px;
}
#title {
    text-align: left; 
    font-weight: 550;
    font-size: 250%;
}
#imdbrating {
    text-align: right;
}
#i1 {
    color: gray;
    margin-right: 17px;
    font-size: 75%;
    font-weight: 500;
}
#i2 {
    font-weight: 450;
    font-size: 200%;
    font-weight: 500;
}
#i3 {
    color: gray;
    padding-left: 15px;
    padding-bottom: 5px;
    font-weight: 500;
}
#i4 {
    padding-left: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 100%;
}
#i5 {
    text-align: left;
    padding-bottom: 5px;
    color: gray;
    font-weight: 500;
}
#i6 {
    text-align: left;
    padding-bottom: 5px;
}
#f1 {
    color: gray;
    width: 200px;
    align-items: center;
    font-weight: 500;
}
#f2 {
    color: gray;
    width: 400px;
    align-items: center;
    font-weight: 500;
}
#f11 {
    display: flex;
    align-items: center;
    justify-content: center;
}
::ng-deep .mat-icon {
    color: green;
    height:50px ;
    width:50px ;
    font-size:50px ;
}
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
#r1 {
    text-align: right;
    color: white;
}
#r2 {
    text-align: center;
    color: white;
}
#x {
    display: flex;
    align-items: center;
    justify-content: center;
}
#rr {
    align-items: center;
}
#disp {
    height: 500px;
    width: 40%;
    background-image: url(../../assets/images/Clap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: green;
    padding-top: 120px;
}
#disp1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#d1 {
    font-weight: 500;
    color: black;
    font-size: x-large;
}
#d2 {
    font-weight: 500;
    color: black;
    font-size: x-large;
}