<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="" />
        
        <script>
            window.onscroll=function() {
                scrollFunction()
            };
            function scrollFunction() {
                if(document.body.scrollTop>80||document.documentElement.scrollTop>80) {
                    document.getElementById("navbar").style.padding="10px 10px";
                    document.getElementById("logo").style.fontSize="25px";
                }
                else {
                    document.getElementById("navbar").style.padding="20px 8px";
                    document.getElementById("logo").style.fontSize="35px";
                }
            }
        </script>
    </head>
    <body>
        <div class="header">
            <div id="navbar">
                <img id="logo" src="../../assets/images/logo.png">
                <div id="navbar-right">
                    <a href="#ratings">Ratings</a>
                    <a href="#reviews">Reviews</a>
                    <a href="#wishlist">WishList</a>
                    <mat-icon class="icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <span>Profile</span>
                        </button>
                        <button mat-menu-item >
                            <span>Feedback</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </body>
</html>