<header id="head">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="false">
        <!-- Navbar brand -->
        <mdb-navbar-brand><img onclick="func()" class="navbar-brand" id="logo" src="../../assets/images/logo.png"></mdb-navbar-brand>
        <!-- Collapsible content -->
        <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink='/ratings' mdbWavesEffect>Ratings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink='/reviews' mdbWavesEffect>Reviwes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink='/wishlist' mdbWavesEffect>WishList</a>
            </li>
            <li>
                <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    </div>
                </form>
            </li>
            <!-- Dropdown -->
            <li class="nav-item">
            <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                <mdb-icon fas icon="ellipsis-v" mdbDropdownToggle></mdb-icon>
                <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" routerLink='/profile'>Profile</a>
                    <a class="dropdown-item" routerLink='/feedback'>Feedback</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
                </div>
            </a>
            </li>
        </ul>
        </links>
        <!-- Collapsible content -->
    </mdb-navbar>
</header>